#titulo{
    color: mediumaquamarine;
}

.destacado1{
    color: red;
}

.destacado2{
    color: yellow;
}

#subtitulo{
    color: violet;
}

#a1{
    color: red;
}
#a2{
    color: darkorchid;
}
.especial{
    color: blueviolet;
}

.especial2{
    color: yellow;
}
.especial3{
    color: yellow;
}
#especial4{
    color: yellow;
}
#especial5{
    color: red;
}
.td1{
    color: green;
}
.td2{
    color: green;
}
.td3{
    color: green;
}
.td4{
    color: green;
}
#id4{
    color: yellow;
}
#especial6{
    color: red;
}
#especial7{
    color: red;
}
#adicional{
    color: darkgreen;
}
#especial8{
    color: blueviolet;
}
#especial9{
    color: greenyellow;
}